@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  height: 100%;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: small  
}

.react-toggle-track {
  width: 28px !important;
  height: 14px !important;
}

.react-toggle-track-check {
  width: 14px !important;
  height: 11px !important;
  left: 2px !important;
}

.react-toggle-track-x {
  width: 10px !important;
  height: 10px !important;
  right: 3px !important;
}

.react-toggle-thumb {
  width: 12px !important;
  height: 12px !important;
}

.react-toggle--checked .react-toggle-thumb {
  left: 15px !important;
}
